# General C++ exclusion 
*.o
*.so

# General Python exclusion 
*.pyc
__init__.py 

# Swap files 
*.swp 

# General data file exclusions
*.txt 
*.root
*.log
log*
*.gz
*.zip
*.tgz
*.eps
**/LSF*
**/Log*

# Specific file exclusion 
# [relative/path/to/file]

# Specific file inclusion 
# ![relative/path/to/file]


